default:
    suites:
        default:
            contexts:
                - FeatureContext:
                      calculator: '@App\CommissionCalculator'

    extensions:
        Behat\Symfony2Extension:
            kernel:
                class: 'App\Kernel'